@import "compass";

@import "Config";

@import "Calculator/Calculator";

* {
  box-sizing: border-box;
}

html, body, .app-main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
